.result{
    display: none;
}

.result_explain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    width: 95vh;
    height: 43vh;
    margin : auto;
    text-align: center;
}

    @media screen and (max-width:540px) {
        .result_explain {
            width: 50vh;
        }   
        #explain {
            font-size: 2.7vh;
        } 
    }

.result_picture { 
    display: flex;
    justify-content: center;
    height: 50vh;
    margin-bottom: 20px;
}

    @media screen and (max-width:540px) {
        .result_picture{
            height: 40vh;
            }

    }

    .result_picture img {
        width: 40vh;
    }

#animalName {
    margin-bottom: 10px;
    font-size: 6vh;
    font-weight: bold;
}

#city_deco {
    margin-top: 2.5vh;
}

#city {
    text-decoration: underline;
    font-weight: bold;
    font-size: 3vh;
}

#shareTool {
    position: relative;
    left: 1210px;
    margin-top: 25px;
}

    @media screen and (max-width:1023px) {
        #shareTool {
            left: 575px;
        }   
    }

    @media screen and (max-width:540px) {
        #shareTool {
            left: 0px;
        }   
    }

    .ad {
        display: none;
        width: 300px;
        height: 250px;
    }